@import url("/assets/home/css/modules/font-awesome/css/all.css");
/* line 3, about.scss */
.main {
	margin: 0 0 60px 0;
}

@media only screen and (max-width: 767px) {
/* line 3, about.scss */
.main {
	margin: 20px 0 0 0;
}
}
/* line 11, about.scss */
.main-header .header-top .welcome-text {
	top: 5px;
}
/* line 15, about.scss */
.subheader .breadcrumbs a {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
/* line 21, about.scss */
.content-container {
	margin-top: 20px;
}
/* line 25, about.scss */
.main-header {
	border-bottom: none;
}
/* line 29, about.scss */
.about-main-image img {
	width: 100%;
}
/* line 33, about.scss */
.about-description {
	width: 63.888888888889%;
	margin: 20px 0 20px;
}
/* line 37, about.scss */
.about-description h1 {
	font-size: 36px;
}
/* line 42, about.scss */
.about-news-panel {
	width: 31.944444444444%;
	margin: 20px 0 20px;
}
/* line 48, about.scss */
.agencies-about-share {
	padding: 20px 0 20px 0 !important;
	width: 100%;
}

@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {
/* line 90, about.scss */
.agencies-about-links {
	width: 100%;
}
/* line 94, about.scss */
.about-main-image {
	width: 100%;
}
/* line 98, about.scss */
.about-description {
	width: 100%;
}
/* line 101, about.scss */
/*
.about-description h1 {
	font-size: 18px;
	line-height: 20px;
}
*/
}
.main-header .header-top {
	min-height: 47px;
}
.feature-list {
	margin: 0;
	float: left;
	margin: 20px 0 40px 0;
/*padding: 0 0 0 20px;*/ }

@media (max-width: 767px) {
.feature-list {
	margin: 20px 0 0 0;
	width: 100%;
}
}
.feature-list ul {
	margin: 0;
	clear: both;
	list-style: none;
}
.feature-list .feature-item {
	float: left;
	clear: both;
	margin-bottom: 20px;
}
.feature-list .feature-item.span12 {
	margin-right: 0;
}
.lt-ie9 .feature-list .feature-item .feature-data.span9 {
	width: 70%;
}
.feature-list .feature-item .feature-image {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.feature-list .feature-item .feature-image img {
	/*width:140px;*/
	width: 100%;
}

@media (max-width: 479px) {
.feature-list .feature-item .feature-image img {
	width: 100%;
}
}

@media (max-width: 479px) {
.feature-list .feature-item .feature-image.span3 {
	width: 35%;
}
}

@media (max-width: 479px) {
.feature-list .feature-item .feature-data.span9 {
	width: 60%;
}
}
.feature-list label {
	cursor: text;
}
.feature-item .feature-data {
	float: left;
/*	margin-left:15px;*/ }
.feature-data-detail {
/*	float:right; */ }
.feature-item .feature-data h4 {
	margin: 0;
	color: #1771b7;
	margin-left: 5px;
}

@media (max-width: 479px) {
.feature-item .feature-data h4 {
	font-size: 14px;
}
}
.feature-item .feature-data label {
	font-weight: bold;
	font-size: 16px;
	float: left;
	clear: both;
	margin: 5px 0 0 5px;
}

@media (max-width: 479px) {
.feature-item .feature-data label {
	margin: 2px 0 0 2px;
}
}
.feature-item .feature-data label.date {
	letter-spacing: -1px;
}

@media (max-width: 479px) {
.feature-item .feature-data label.date {
	font-size: 12px;
	letter-spacing: 0;
	color: #666666;
	font-weight: normal;
}
}
.feature-item .feature-data p {
	font-size: 16px;
	font-weight: normal;
	clear: both;
	float: left;
	margin: 6px 0 0 6px;
	padding: 0;
}

@media (max-width: 479px) {
.feature-item .feature-data p {
	font-size: 14px;
	margin: 2px 0 0 2px;
}
}
/* date picker stuff */
.agency-datepicker {
	float: left;
	cursor: pointer !important;
	background: url("/assets/home/images/global/datepicker-agency.png") no-repeat white right 13px;
}
.agency-datepicker:focus {
	outline: none;
}
.lt-ie9 .agency-datepicker {
	padding-top: 7px;
	height: 24px;
}
label.inline {
	text-transform: none !important;
	font-weight: normal !important;
}
label.no-cursor {
	cursor: default !important;
}
label.noTrans {
	text-transform: none;
	padding-left: 0px;
}
.form-text {
	font-size: 12px;
	line-height: 16px;
}
.inline_elements label {
	padding-left: 0px;
	margin-right: 10px;
}
.inline_elements input[type="radio"] {
	margin-left: 0px;
	margin-right: 4px;
	margin-top: 0px;
}
.inline_elements input[type="checkbox"] {
	margin-left: 0px;
	margin-right: 4px;
	margin-top: 0px;
}
label.radio, label.checkbox {
	text-transform: none;
}
.control-label i, .control-label em {
	text-transform: none !important;
	font-weight: normal !important;
	font-style: italic;
}
.file-label {
	padding-top: 5px;
	cursor: default;
}
.file-label span {
	cursor: pointer;
}
.file-label input[type="file"] {
	opacity: 0;
}
.file-label .file-name {
	margin-left: 15px;
	text-transform: none;
}
.content-info-inner[data-twttr-id] {
	padding-left: 0px;
	padding-right: 0px;
}
.social-icons {
	width: 36px !important;
}
a {
	font-weight: bold;
}
/*
blockquote{padding-left:30px; border:none;}
blockquote p{font-size:16px; line-height: 20px; margin-bottom:1em; font-weight: normal;}*/

ul.two-column-list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
table.infotable tr td, table.infotable tr th {
	padding: 5px;
	vertical-align: top;
}
table.infotable-border {
	border-collapse: collapse;
}
table.infotable-border tr td {
	border: 1px solid #333333;
	padding: 5px;
	vertical-align: top;
}
table.infotable tr td:first-child, table.infotable tr th:first-child {
	padding-left: 0px;
}
table.infotable tr td:last-child, table.infotable tr th:last-child {
	padding-right: 0px;
}
table.rt td.subhead {
	padding: 10px 5px 11px 5px;
	color: #fff;
	background-color: #0a5796;
	font-size: 18px;
	line-height: 20px;
	border: 1px solid #777;
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center
}
table.rt td.subhead {
	padding: 11px 11px 13px 11px;
	line-height: 20px;
	color: #333;
	background-color: #e5e5e5;
	border: 1px solid #777;
	text-align: left
}

@media only screen and (max-width: 767px) {
table.rt td.subhead {
	border: none;
	border-bottom: 1px solid #777;
	position: relative;
	padding: 3px 3px 6px 3px;
	font-size: 11px;
	padding-left: 50%
}
table.rt td.subhead:before {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	content: attr(data-label);
	font-weight: 700
}
}
.condense {
	line-height: 25px !important;
}

@media only screen and (max-width: 767px) {
.condense {
	line-height: 16.5px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
.condense {
	line-height: 26px !important;
}
}
/* FILTER STYLES */

.filter-wrap {
	box-shadow: 0 0 0 1px #ccc;
	border-radius: .5rem;
	padding: .5rem 1rem 0 1rem;
 margin-bottom: calc( 1rem * ( 28 / 18));
}
.filter-results-wrap {
	padding-bottom: 1.5rem;
}
.filter-form-wrap {
}
.filter-form-wrap .formControl-row {
	width: calc( 100% + 2rem);
	transform: translateX(-1rem);
}
.filter-form-heading {
	font-size: 2rem;
	line-height: 1.25;
	padding: .5rem 0 1rem 0;
	margin: 0 0 1rem 0;
	background: linear-gradient(to top, currentColor 1px, transparent 1px);
}
.filter-pager-heading {
	font-size: 1.75rem;
	line-height: 1.25;
	margin: 0 .5rem 0 0;
	flex-basis: auto;/* white-space: nowrap; */
}
.filter-pager-heading-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	padding: .25rem 0;
	margin-bottom: .5rem;
	background: linear-gradient(to top, #ccc 1px, transparent 1px);
}
.filter-categories {
	flex-basis: 40%;
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-self: baseline;
	font-size: .875rem;
	line-height: 1.125;
	color: #777677;
}
.filter-categories-label {
	font-weight: 700;
	color: #333;
	margin-right: .25rem;
}
.filter-category {
	margin: 0 .25rem 0 0;
	position: relative;
}
.filter-category+.filter-category::before {
	content: "|";
	margin-right: .25rem;
}
.filter-pager-wrap {
	padding-bottom: .25rem;
}
.filter-pager {
	display: flex;
	flex-flow: row nowrap;
	margin-left: 0;
	list-style: none;/* padding: 0 0 calc(.25rem * ( 28 / 18)) 0; */
}
.filter-pager a {
	font-weight: normal!important;
}
.filter-pager .page {
	flex-basis: auto;
	flex-grow: .5;
	background: #0a5796;
	color: #fff;
	border-radius: .25rem;
}
.filter-pager > li.page:nth-last-of-type(n+3) a {
	padding-left: 1rem;
}
.filter-pager > li.page:nth-of-type(n+3) a {
	padding-right: 1rem;
}
.filter-pager > li.page:nth-of-type(1) a {
	background-image: url('/assets/home/images/agencies/first.svg');
	background-repeat: no-repeat;
	background-position: left .5rem center;
	background-size: 1rem 1rem;
}
.filter-pager > li.page:nth-of-type(2) a {
	background-image: url('/assets/home/images/agencies/prev.svg');
	background-repeat: no-repeat;
	background-position: left .5rem center;
	background-size: 1rem 1rem;
}
.filter-pager > li.page:nth-of-type(4) a {
	background-image: url('/assets/home/images/agencies/next.svg');
	background-repeat: no-repeat;
	background-position: right .5rem center;
	background-size: 1rem 1rem;
}
.filter-pager > li.page:nth-of-type(5) a {
	background-image: url('/assets/home/images/agencies/last.svg');
	background-repeat: no-repeat;
	background-position: right .5rem center;
	background-size: 1rem 1rem;
}
li.page:nth-of-type(2).disabled {
	padding-left: 1.5rem;
	background-image: url('/assets/home/images/agencies/prev.svg');
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	background-position: left .5rem center;
}
li.page:nth-of-type(4).disabled {
	padding-right: 1.5rem;
	background-image: url('/assets/home/images/agencies/next.svg');
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	background-position: right .5rem center;
}
li.page:nth-of-type(1).disabled {
	padding-left: 1.5rem;
	background-image: url('/assets/home/images/agencies/first.svg');
	background-repeat: no-repeat;
	background-position: left .5rem center;
	background-size: 1rem 1rem;
}
li.page:last-of-type.disabled {
	padding-right: 1.5rem;
	background-image: url('/assets/home/images/agencies/last.svg');
	background-repeat: no-repeat;
	background-position: right .5rem center;
	background-size: 1rem 1rem;
}
.filter-pager .pageInfo {
	flex-grow: 1;
}
.filter-pager .pageInfo label {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	align-items: center;
}
.filter-pager .pageInfo input[type="text"] {
	max-width: 3rem;
	border: none;
	box-shadow: 0 0 0 1px #777677, 0 0 0 0 transparent, 0 0 0 0 transparent;
	padding: 0 .25rem;
	text-align: center;
	margin: 0;
	transition: all .3s ease-in-out 0s;
}
.filter-pager .pageInfo button[type="button"] {
	border: none;
	background: #0a5796;
	color: #fff;
	padding: .25rem .5rem;
	height: 30px;
	border-radius: .25rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 0 0 1px #0a5796, 0 0 0 0 transparent, 0 0 0 0 transparent;
	transition: all .3s ease-in-out 0s;
}
.filter-pager .pageInfo input[type="text"]:focus {
	box-shadow: 0 0 0 1px #777677, 0 0 0 3px #fff, 0 0 0 5px #777677;
	border: none;
	outline: none;
}
.filter-pager .pageInfo button[type="button"]:focus {
	box-shadow: 0 0 0 1px #0a5796, 0 0 0 3px #fff, 0 0 0 5px #777677;
	border: none;
	outline: none;
}
.filter-pager .pageInfo button[type="button"]:hover {
	background: #444;
}
.filter-pager li+li {
	margin-left: .25rem;
}
.filter-pager .ellipsis {
	flex-grow: .125;
	text-align: center;
	color: #ccc;
}
.filter-pager .page a {
	display: block;
	padding: .25rem;
	color: inherit!important;
	background: transparent;
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease-in-out 0s;
	cursor: pointer;
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
}
.filter-pager .page a:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #777677;
	text-decoration: none;
	border: none;
	outline: none;
}
.filter-pager .page:not(.active) a:hover, .filter-pager-gotoPage button[type="button"]:hover {
	background-color: #444!important;
}
.filter-pager .page.active {
	background: #fff;
	color: #000;
	box-shadow: inset 0 0 0 2px #0a5796, inset 4px 4px 3px 0 rgba(0, 0, 0, .5)!important;
	box-shadow: inset 0 0 0 2px #0a5796!important;
}
.filter-pager-gotoPage {
	margin-top: .25rem;
	padding-top: .75rem;
	padding-bottom: .5rem;
	background: linear-gradient(to bottom, #ccc 1px, transparent 1px);
}
.filter-pager-gotoPage label.control-label:nth-of-type(n) {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: baseline;
	margin-bottom: 0!important;
}
.filter-pager-gotoPage label span {
	white-space: nowrap;
	align-self: baseline;
}
.filter-pager-gotoPage select {
	max-width: 4rem;
	text-align: center;
	margin: 0 .25rem !important;
}
.filter-pager-gotoPage button.gotoPage-button {
	background: #0a5796;
	color: #fff!important;
	font-size: 1rem;
	border: none;
	transition: all .3s ease-in-out 0s;
	border-radius: .25rem;
	align-self: stretch;
}
.filter-results-heading {
	font-size: 1.75rem;
	line-height: 1.25;
	margin: 0 0 .5rem 0;
	padding: 0 0 .5rem 0;
	background: linear-gradient(to top, #ccc 1px, transparent 1px);
	flex-basis: auto;
}
.filter-result-heading {
	font-size: 1.25rem;
	font-weight: 700;
	margin: 0 0 .5rem 0;
	padding: 0 0 .5rem 0;
	background: linear-gradient(to top, #ddd 1px, transparent 1px);
}
ul.filter-result {
	margin-left: 0;
	list-style: none;
	margin-top: 1.5rem;
}
ul.filter-result ul.no-marker {
	list-style: none;
	margin-left: 0;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: .5rem;
	padding-bottom: .5rem;
	background: linear-gradient(to top, #ddd 1px, transparent 1px);
}
ul.no-marker>li {
	flex-basis: calc(50% - .5rem);
	flex-grow: 1;
	min-width: 20rem;
}
li.result-unit {
 margin-bottom: calc(3rem * ( 28 / 18));
}
li.result-unit a.filter-result-link {
	display: inline-block;
	margin-right: 1rem;
	text-decoration: underline solid currentColor;
	text-decoration-skip: ink;
	text-decoration-skip-ink: normal;
	transition: all .3s ease-in-out 0s;
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
}
li.result-unit a.filter-result-link:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #777677;
	outline: none;
	border: none;
}
li.result-unit a.keyboard-focus {
	position: absolute;
	opacity: 0;
	left: -99999px;
	transition: opacity .3s ease-in-out 0s, box-shadow .3s ease-in-out 0s;
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
	outline: none;
	border: none;
}
li.result-unit a.keyboard-focus:focus {
	left: auto;
	opacity: 1;
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #777677;
	outline: none;
	border: none;
}
li.page.disabled a, li.page.disabled {
	background-color: #ddd!important;
	color: #fff!important;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter-pager-heading small {
	font-size: 1rem;
	color: #777677;
}

@media(max-width:980px) {
.filter-pager .pageInfo label {
	font-size: 14px;
}
.filter-pager .pageInfo {
	flex-grow: 1;
}
.filter-pager li.page {
	flex-grow: 1!important;
}
.filter-pager > li a {
	background-position: center center!important;
	display: block;
	position: Relative;
	min-height: 1.5rem;
}
.filter-pager-heading small {
	font-size: 1rem;
	color: #777677;
	display: block;
	padding: .5rem 0;
}
.filter-pager > li {
	background-position: center center!important;
}
}
blockquote {
	padding: 0 0 0 30px;
	margin: 0 0 20px;
	border: none;
}
blockquote p {
	margin-bottom: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
